<div class="container">
  <div class="row">
    <div class="col"><h1>Search Places</h1></div>
  </div>
  <div class="row">
    <div class="col">
      <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="clickMap($event)" [disableDefaultUI]="true" [zoomControl]="true" [zoom]="14" >
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        <agm-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.lng"></agm-marker>
      </agm-map>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col">
      <div class="form-group">
        <button class="btn btn-primary" (click)="search()">RV Park</button>
        <div id="map" style="display: none;"></div>
        <!-- <label>Search Category</label>
        <select class="form-control" (change)="changeType($event.target.value)">
          <option value="all">All</option>
          <option value="rv_park">Pickleball</option>
          <option value="establishment">RV Resort</option>
          <option value="restaurant">Restaurant</option>
        </select> -->
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="formControlRange">Search Distance (Mts)</label>
        <label class="radius">{{radius}}Meters ({{radius/1000}} Km)</label>
        <input type="range" min="0" max="50000" step="500" class="form-control-range" (change)="setRadius($event.target.value)" value="0">
      </div>
    </div>
    <!-- <div class="col-6">
      <div class="form-group" >
        <label>Search Query</label>
        <input 
        type="text"
        class="google-place-input form-control"
        google-place
        lat="{{lat}}"
        lng="{{lng}}"
        types="{{type}}"
        (onSelect)="setAddress($event)"
        placeholder="Type to search..">
      </div>
    </div> -->
  </div>
    <!-- Displaying the contents of the address object received from our event emitter -->
    <!-- <ul style="list-style-type: none;">
      <li *ngFor="let key of addrKeys">
        <ng-container *ngIf="key!='geometry'">
          <span style="font-weight: bold">{{key}}</span>: <span>{{addr[key]}}</span>
        </ng-container>
      </li>
    </ul> -->
</div>