<div class="container">
  <div class="row">
    <div class="col"><h1>Search Places</h1></div>
    <div class="col-12">
      <div class="form-group" >
        <label>Search Location</label>
        <input 
        type="text"
        class="google-place-input form-control"
        google-place
        (onSelect)="setAddress($event)"
        placeholder="Type to search..">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="clickMap($event)" [disableDefaultUI]="true" [zoomControl]="true" [zoom]="14" >
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        <agm-marker *ngFor="let marker of markers; let i=index" [latitude]="marker.lat" [longitude]="marker.lng" (markerClick)="showInfo(i)"></agm-marker>
      </agm-map>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col">
      <div class="form-group">
        <button class="btn btn-primary" (click)="search(false,'')">RV Park</button>
        <button class="btn btn-success" (click)="search(true,'pickleball courts')">pickleball courts</button>
        <div id="map" style="display: none;"></div>
        <!-- <label>Search Category</label>
        <select class="form-control" (change)="changeType($event.target.value)">
          <option value="all">All</option>
          <option value="rv_park">Pickleball</option>
          <option value="establishment">RV Resort</option>
          <option value="restaurant">Restaurant</option>
        </select> -->
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="formControlRange">Search Distance (Mts)</label>
        <label class="radius">{{radius}}Meters ({{radius/1000}} Km)</label>
        <input type="range" min="0" max="50000" step="500" class="form-control-range" (change)="setRadius($event.target.value)" value="0">
      </div>
    </div>
  </div>
    <!-- Displaying the contents of the address object received from our event emitter -->
    <div class="row" *ngIf="addrKeys && addrKeys.length>0">
      <div class="col-12">
        <h2>Your Location</h2>
      </div>
      <div class="col-12">
        <ul style="list-style-type: none;padding: 0">
          <li *ngFor="let key of addrKeys">
            <ng-container *ngIf="key!='geometry'">
              <span style="font-weight: bold" *ngIf="addr[key]">{{key}} : </span><span>{{addr[key]}}</span>
            </ng-container>
          </li>
        </ul>
      </div>
    </div>
    <div class="row" *ngIf="showDetails">
      <div class="col-12"><h2>Location Details</h2></div>
      <div class="col-6">
        <p *ngIf="markers[index].name!=''"><b>Name: </b> {{markers[index].name}}</p>
        <p *ngIf="markers[index].location!=''"><b>Location: </b> {{markers[index].location}}</p>
        <p *ngIf="markers[index].rating!=''"><b>Rating: </b> {{markers[index].rating}}</p>
        <p *ngIf="markers[index].photos && markers[index].photos.length>0">
          <img src="{{img.getUrl()}}" style="width: 100%;margin: 5px" *ngFor="let img of markers[index].photos">
        </p>
      </div>
    </div>
</div>